.cabecera {
background-color: lavender;
 }
.navPrincipal{
 background-color: pink;
}
.principal{
 background-color: olive;
}
.noticias{
 background-color: lavender;
}
  .nota2{
  background-color: pink;
  }
.piePagina{
  background-color: olive;
  }
