/* coleres de las partes  */
.cabecera {
background-color: lavender;
height: 200px;
 }
.navPrincipal{
 background-color: pink;
}
.principal{
 background-color: olive;
}
.noticias{
 background-color: lavender;
}
.nota{
  background-color: pink;
  }
.piePagina{
  background-color: olive;
  }
selector{
  propiedad :
}
/* partes de la cabecera*/
.cabecera img{
  display: inline-block;
  width: 150px;
  border-radius: 100%;
  position: relative;
  right:550px;
  top: 25px;

}
.cabecera h3{
  display: inline-block;
  position: relative;
  left:30px;
  bottom: 35px;
}

/* selector por id */
#tituloprincipal{
display: inline-block;
  width: auto;
  position: relative;
  left: 250px;
  bottom: 65px;
}
.noticias h3{
  text-align: center;
  position: relative;
  top: 10px;
}
.nota1 img{
  display: inline-block;
  position: relative;
  left: 35%;
  top: 10px;
  width: auto;
  height: 300px;
}


.nota1{
  background-color: lavender;
  display: inline-block;
  width:47%;
  height: 400px;
margin: 10px;
}
.nota2{
  background-color: lavender;
  display: inline-block;
  width: 47%;
  height: 400px;
  margin: 10px;
}
.nota2 img{
  display: inline-block;
  position: relative;
  left: 25%;
  width: 300px;
  height: auto;
}
.nota2 h4{
  text-align: center;
}

.nota2 p,a{
  width: 90%;
  position: relative;
  left: 30px;
  padding: 10px;
}

/* selector conbinador de descendientes */
nav li{
  display: inline-block;

}
/* multiple selectores */
h2,h3,h4,h5{
  color: purple;
}
/* selector conbinador de hijo */
ul>li{
  list-style: none;

}
/* selector usando clases y etiqueta */
.galeria{
  height: 600px;
  background-color: lavender;
}
.galeria img{
  background-color: olive;
  margin:7px;
  width: 200px;
  height: 200px;
 border-radius:10px;
 border:2px solid black;
 box-shadow: 17px 10px 10px 3px;
}
#pfixed{
  position: absolute;
 right:  100px;
 top: 50px;
}
.navPrincipal li{
  background-color: grey;
}
/* ppseudoclases */
.navPrincipal li:hover{
  background-color: green;

}
.exciting-text::after{
  content:" <- exciting!";
  color:green;
}

.boring-text::after{
  content:" <- boring!";
  color:red;
}
hr{
  width: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 7px dotted red;
}
