.cabecera {
background-color: lavender;
height: 200px;
 }
.navPrincipal{
 background-color: pink;
}
.principal{
 background-color: olive;
}
.noticias{
 background-color: lavender;
}
.nota{
  background-color: pink;
  }
.piePagina{
  background-color: olive;
  }
selector{
  propiedad :
}
.cabecera img{
  display: inline-block;
  width: 150px;
  border-radius: 100%;
  position: relative;
  right: 440px;
  top: 25px;

}
.cabecera h3{
  display: inline-block;
  position: relative;
  left:60px;
  bottom: 35px;
}

/* selector por id */
#tituloprincipal{
display: inline-block;
  width: auto;
  position: relative;
  left: 250px;
  bottom: 65px;
}
.nota1{
  background-color: purple;
  display: inline-block;
  width:48%;
  position: relative;
}
.nota2{
  background-color: purple;
  display: inline-block;
  width:48%;
  position: relative;
}
/* selector conbinador de descendientes */
nav li{
  display: inline-block;

}
/* multiple selectores */
h2,h3,h4,h5{
  color: purple;
}
/* selector conbinador de hijo */
ul>li{
  list-style: none;

}
/* selector usando clases y etiqueta */
.galeria img{
  width: 200px;
  height: auto;

}
.navPrincipal li{
  background-color: grey;
}
/* ppseudoclases */
.navPrincipal li:hover{
  background-color: green;

}
.exciting-text::after{
  content:" <- exciting!";
  color:green;
}

.boring-text::after{
  content:" <- boring!";
  color:red;
}
hr{
  width: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 7px dotted red;
}
